html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@-webkit-keyframes hide {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
@keyframes hide {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translateY(1em);
    transform: translateY(1em);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translateY(1em);
    transform: translateY(1em);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
::-moz-selection {
  background: #0f42cb; /* WebKit/Blink Browsers */
  color: #fff;
  opacity: 1;
}
::selection {
  background: #0f42cb; /* WebKit/Blink Browsers */
  color: #fff;
  opacity: 1;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/sourcesanspro-300.woff") format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/sourcesanspro-400.woff") format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/sourcesanspro-600.woff") format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/sourcesanspro-900.woff") format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/sourcesanspro-400-italic.woff") format('woff');
}
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/sourceserifpro-400.woff") format('woff');
}
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/sourceserifpro-500.woff") format('woff');
}
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/sourceserifpro-600.woff") format('woff');
}
h1,
h2,
h3,
h4 {
  font-weight: 600;
}
h1 {
  font-size: 2em;
/* 2x body copy size = 32px */
  line-height: 1.25;
/* 45px / 36px */
}
@media (min-width: 43.75em) {
  h1 {
    font-size: 2.5em;
/* 2.5x body copy size = 40px */
    line-height: 1.125;
  }
}
@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
/* 3x body copy size = 48px */
    line-height: 1.05;
/* keep to a multiple of the 20px line height and something more appropriate for display headings */
  }
}
h2 {
  font-size: 1.625em;
/* 1.625x body copy size = 26px */
  line-height: 1.15384615;
/* 30px / 26px */
}
@media (min-width: 43.75em) {
  h2 {
    font-size: 2em;
/* 2x body copy size = 32px */
    line-height: 1.25;
  }
}
@media (min-width: 56.25em) {
  h2 {
    font-size: 2.25em;
/* 2.25x body copy size = 36px */
    line-height: 1.25;
  }
}
h3 {
  font-size: 1.375em;
/* 1.375x body copy size = 22px */
  line-height: 1.13636364;
/* 25px / 22px */
}
@media (min-width: 43.75em) {
  h3 {
    font-size: 1.5em;
/* 1.5x body copy size = 24px */
    line-height: 1.25;
  }
}
@media (min-width: 56.25em) {
  h3 {
    font-size: 1.75em;
/* 1.75x body copy size = 28px */
    line-height: 1.25;
  }
}
h4 {
  font-size: 1.125em;
/* 1.125x body copy size = 18px */
  line-height: 1.11111111;
}
@media (min-width: 43.75em) {
  h4 {
    line-height: 1.22222222;
/* (22px / 18px */
  }
}
blockquote {
  font-size: 1.25em;
/* 20px / 16px */
  line-height: 1.25;
/* 25px / 20px */
}
@media (min-width: 43.75em) {
  blockquote {
    font-size: 1.5em;
/* 24px / 16px = */
    line-height: 1.45833333;
/* 35px / 24px */
  }
}
html {
  box-sizing: border-box;
  text-align: center;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 1.45;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1200px;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0 auto;
  text-align: left;
}
a {
  outline: none;
  text-decoration: none;
  color: #000;
}
pre {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
img {
  display: block;
  max-width: 100%;
  max-height: auto;
  width: auto;
  height: auto;
}
textarea {
  resize: vertical;
}
button,
input[type=submit],
input[type=button] {
  -webkit-font-smoothing: antialiased;
}
button,
select,
input,
textarea {
  font-family: inherit;
  line-height: normal;
  outline: 0;
  border-radius: 0;
}
hr {
  border: none;
  border-top: 1px solid transparent;
  background: none;
  display: block;
}
strong,
em {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}
*::-moz-selection {
  background: $color--accent;
  color: #fff;
}
*::selection {
  background: $color--accent;
  color: #fff;
}
*::-moz-selection {
  background: $color--accent;
  color: #fff;
}
select:-moz-focus-inner {
  border: 0;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
::-webkit-input-placeholder {
  color: #666;
}
:-moz-placeholder {
  color: #666;
}
::-moz-placeholder {
  color: #666;
}
:-ms-input-placeholder {
  color: #666;
}
.grid > * {
  vertical-align: top;
}
.grid .one-third {
  display: inline-block;
  width: 32%;
  margin-right: 2%;
}
.grid .one-third:last-child {
  margin-right: 0;
}
.grid .two-thirds {
  display: inline-block;
  width: 64%;
  margin-right: 2%;
}
.grid .two-thirds:last-child {
  margin-right: 0;
}
.grid .one-half {
  display: inline-block;
  width: 49%;
  margin-right: 2%;
}
.grid .one-half:last-child {
  margin-right: 0;
}
.grid .one-whole {
  display: inline-block;
  width: 100%;
}
.collection {
  position: relative;
  width: 100%;
  transition: all 0.2s ease-in-out;
  text-align: center;
  background-color: #0f42cb;
}
.collection:before {
  content: "";
  display: block;
  padding-top: 100%; /* initial ratio of 1:1*/
}
.collection:hover {
  -webkit-transform: translateY(-0.5em);
  transform: translateY(-0.5em);
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  transition: all 0.2s ease-in-out;
}
.collection__name {
  background-image: url("/../assets/icons/collection-black.svg");
  background-position: 0.5em center;
  background-size: 1em;
  background-repeat: no-repeat;
  padding-left: 2em;
  margin-bottom: 0.5em;
}
.collection__wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.75em;
  text-align: center;
  color: #fff;
}
.collection__title {
  font-size: 160%;
  line-height: 1.1;
  font-weight: 900;
  margin-bottom: 0.33em;
  background-image: url("/../assets/icons/collection-white.svg");
  background-position: center 1em;
  background-size: 3em;
  background-repeat: no-repeat;
  padding-top: 5em;
  padding-bottom: 1em;
  vertical-align: center;
  margin-top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: all 0.2s ease-in-out;
}
.collection__author {
  font-size: 110%;
}
.collection__link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.cover {
  position: relative;
  width: 100%;
  transition: all 0.2s ease-in-out;
  text-align: center;
  border-left: 0.33em solid #000;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}
.cover:before {
  content: "";
  display: block;
  padding-top: 137.5%; /* initial ratio of 1:1*/
}
.cover:hover {
  -webkit-transform: translateY(-0.5em);
  transform: translateY(-0.5em);
  box-shadow: 0px 12px 18px rgba(0,0,0,0.2);
  transition: all 0.2s ease-in-out;
}
.cover__wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.75em;
  text-align: left;
  color: #fff;
}
.cover__title {
  font-size: 160%;
  line-height: 1.1;
  font-weight: 600;
  margin-bottom: 0.33em;
}
.cover__author {
  font-size: 110%;
}
.cover__link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.cover--yellow {
  background-color: #ffde00;
  border-color: #ccb200;
}
.cover--yellow .cover__title {
  font-family: 'Skolar PE Test', 'Source Serif Pro', serif;
  color: #000;
}
.cover--yellow .cover__author {
  font-size: 110%;
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
}
.cover--blue {
  background-color: #0f42cb;
  border-color: #0c35a2;
}
.cover--blue .cover__title {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
}
.cover--blue .cover__author {
  font-family: 'Skolar PE Test', 'Source Serif Pro', serif;
}
.cover--black {
  background-color: #000;
  border-color: #333;
}
.cover--black .cover__title {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
}
.cover--black .cover__author {
  font-family: 'Skolar PE Test', 'Source Serif Pro', serif;
}
.cover--grey {
  background-color: #ddd;
  border-color: #b1b1b1;
}
.cover--grey .cover__title {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  color: #000;
}
.cover--grey .cover__author {
  font-family: 'Skolar PE Test', 'Source Serif Pro', serif;
  color: #000;
}
.header__title {
  font-weight: 900;
  line-height: 1.15;
}
.menu {
  width: 32%;
  margin-top: 3em;
  margin-bottom: 1.5em;
  display: inline-block;
  position: relative;
}
.menu a {
  display: block;
  color: #222;
}
.menu a:hover {
  color: #0f42cb;
  text-decoration: none;
}
.menu .active {
  color: #0f42cb;
}
.menu li {
  list-style: none;
}
.menu li:hover > .menu__submenu {
  display: block;
}
.menu > li {
  position: relative;
  border-top: 1px solid #ddd;
  padding: 0.35em 0;
}
.menu > li > a {
  font-weight: 600;
}
.menu__submenu {
  position: absolute;
  z-index: 1;
  top: 2em;
  display: none;
  width: 100%;
}
.menu__submenu:hover {
  display: block;
}
.menu__submenu li {
  border-bottom: 1px solid #444;
}
.menu__submenu a {
  padding: 0.5em 0.75em;
  font-size: 0.9em;
  font-weight: 600;
  color: #fff;
  background: #000;
  white-space: nowrap;
}
.menu__submenu a:hover {
  background: #333;
  color: #fff;
}
.references .reference {
  display: inline-block;
  width: 32%;
  margin-right: 2%;
  margin-top: 1em;
}
.references .reference:nth-child(-n+3) {
  margin-top: 0;
}
.references .reference:nth-child(3n+3) {
  margin-right: 0;
}
.references .reference:nth-child(1) {
  -webkit-animation: hide 0.25s, fadein 0.25s 0.25s;
  animation: hide 0.25s, fadein 0.25s 0.25s;
}
.references .reference:nth-child(2) {
  -webkit-animation: hide 0.375s, fadein 0.25s 0.375s;
  animation: hide 0.375s, fadein 0.25s 0.375s;
}
.references .reference:nth-child(3) {
  -webkit-animation: hide 0.5s, fadein 0.25s 0.5s;
  animation: hide 0.5s, fadein 0.25s 0.5s;
}
.references .reference:nth-child(4) {
  -webkit-animation: hide 0.625s, fadein 0.25s 0.625s;
  animation: hide 0.625s, fadein 0.25s 0.625s;
}
.references .reference:nth-child(5) {
  -webkit-animation: hide 0.75s, fadein 0.25s 0.75s;
  animation: hide 0.75s, fadein 0.25s 0.75s;
}
.references .reference:nth-child(6) {
  -webkit-animation: hide 0.875s, fadein 0.25s 0.875s;
  animation: hide 0.875s, fadein 0.25s 0.875s;
}
.search {
  width: 66%;
  margin-left: 2%;
  margin-top: 3em;
  display: inline-block;
  vertical-align: top;
}
.search input[type="search"] {
  -webkit-appearance: textfield;
}
.search input[type=search] {
  display: inline-block;
  position: relative;
  font-size: 2.45em;
  padding: 0.25em;
  width: 100%;
  border: 2px solid #ddd;
  background-image: url("/../assets/icons/search-grey.svg");
  background-position: 98% center;
  background-size: 1em;
  background-repeat: no-repeat;
}
.search input[type=search]:hover,
.search input[type=search]:focus {
  border: 2px solid #000;
  background-image: url("/../assets/icons/search-black.svg");
}
.search input[type="search"]::-webkit-search-decoration,
.search input[type="search"]::-webkit-search-cancel-button,
.search input[type="search"]::-webkit-search-results-button,
.search input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
.section__label {
  margin-bottom: 0.5em;
  margin-top: 1em;
  text-transform: uppercase;
}
.section__label:first-child {
  margin-top: 1em;
}
table {
  width: 100%;
}
th {
  background-color: #fff;
  border-bottom: 2px solid #000;
  padding: 0.5em;
  font-weight: 900;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-right: 2px solid #fff;
}
th:hover {
  background-color: #ffde00;
}
th:last-child {
  border-right: none;
}
tbody > *:nth-child(1) {
  -webkit-animation: hide 0.25s, fadein 0.25s 0.25s;
  animation: hide 0.25s, fadein 0.25s 0.25s;
}
tbody > *:nth-child(2) {
  -webkit-animation: hide 0.375s, fadein 0.25s 0.375s;
  animation: hide 0.375s, fadein 0.25s 0.375s;
}
tbody > *:nth-child(3) {
  -webkit-animation: hide 0.5s, fadein 0.25s 0.5s;
  animation: hide 0.5s, fadein 0.25s 0.5s;
}
tbody > *:nth-child(4) {
  -webkit-animation: hide 0.625s, fadein 0.25s 0.625s;
  animation: hide 0.625s, fadein 0.25s 0.625s;
}
tbody > *:nth-child(5) {
  -webkit-animation: hide 0.75s, fadein 0.25s 0.75s;
  animation: hide 0.75s, fadein 0.25s 0.75s;
}
tbody > *:nth-child(6) {
  -webkit-animation: hide 0.875s, fadein 0.25s 0.875s;
  animation: hide 0.875s, fadein 0.25s 0.875s;
}
tbody > *:nth-child(7) {
  -webkit-animation: hide 1s, fadein 0.25s 1s;
  animation: hide 1s, fadein 0.25s 1s;
}
tbody > *:nth-child(8) {
  -webkit-animation: hide 1.125s, fadein 0.25s 1.125s;
  animation: hide 1.125s, fadein 0.25s 1.125s;
}
tbody > *:nth-child(9) {
  -webkit-animation: hide 1.25s, fadein 0.25s 1.25s;
  animation: hide 1.25s, fadein 0.25s 1.25s;
}
tbody > *:nth-child(10) {
  -webkit-animation: hide 1.375s, fadein 0.25s 1.375s;
  animation: hide 1.375s, fadein 0.25s 1.375s;
}
tbody > *:nth-child(11) {
  -webkit-animation: hide 1.5s, fadein 0.25s 1.5s;
  animation: hide 1.5s, fadein 0.25s 1.5s;
}
tbody > *:nth-child(12) {
  -webkit-animation: hide 1.625s, fadein 0.25s 1.625s;
  animation: hide 1.625s, fadein 0.25s 1.625s;
}
tbody > *:nth-child(13) {
  -webkit-animation: hide 1.75s, fadein 0.25s 1.75s;
  animation: hide 1.75s, fadein 0.25s 1.75s;
}
tbody > *:nth-child(14) {
  -webkit-animation: hide 1.875s, fadein 0.25s 1.875s;
  animation: hide 1.875s, fadein 0.25s 1.875s;
}
tbody > *:nth-child(15) {
  -webkit-animation: hide 2s, fadein 0.25s 2s;
  animation: hide 2s, fadein 0.25s 2s;
}
tbody > *:nth-child(16) {
  -webkit-animation: hide 2.125s, fadein 0.25s 2.125s;
  animation: hide 2.125s, fadein 0.25s 2.125s;
}
tbody > *:nth-child(17) {
  -webkit-animation: hide 2.25s, fadein 0.25s 2.25s;
  animation: hide 2.25s, fadein 0.25s 2.25s;
}
tbody > *:nth-child(18) {
  -webkit-animation: hide 2.375s, fadein 0.25s 2.375s;
  animation: hide 2.375s, fadein 0.25s 2.375s;
}
tbody > *:nth-child(19) {
  -webkit-animation: hide 2.5s, fadein 0.25s 2.5s;
  animation: hide 2.5s, fadein 0.25s 2.5s;
}
tbody > *:nth-child(20) {
  -webkit-animation: hide 2.625s, fadein 0.25s 2.625s;
  animation: hide 2.625s, fadein 0.25s 2.625s;
}
tbody > *:nth-child(21) {
  -webkit-animation: hide 2.75s, fadein 0.25s 2.75s;
  animation: hide 2.75s, fadein 0.25s 2.75s;
}
tbody > *:nth-child(22) {
  -webkit-animation: hide 2.875s, fadein 0.25s 2.875s;
  animation: hide 2.875s, fadein 0.25s 2.875s;
}
tbody > *:nth-child(23) {
  -webkit-animation: hide 3s, fadein 0.25s 3s;
  animation: hide 3s, fadein 0.25s 3s;
}
tbody > *:nth-child(24) {
  -webkit-animation: hide 3.125s, fadein 0.25s 3.125s;
  animation: hide 3.125s, fadein 0.25s 3.125s;
}
tbody > *:nth-child(25) {
  -webkit-animation: hide 3.25s, fadein 0.25s 3.25s;
  animation: hide 3.25s, fadein 0.25s 3.25s;
}
tbody > *:nth-child(26) {
  -webkit-animation: hide 3.375s, fadein 0.25s 3.375s;
  animation: hide 3.375s, fadein 0.25s 3.375s;
}
tbody > *:nth-child(27) {
  -webkit-animation: hide 3.5s, fadein 0.25s 3.5s;
  animation: hide 3.5s, fadein 0.25s 3.5s;
}
tbody > *:nth-child(28) {
  -webkit-animation: hide 3.625s, fadein 0.25s 3.625s;
  animation: hide 3.625s, fadein 0.25s 3.625s;
}
tbody > *:nth-child(29) {
  -webkit-animation: hide 3.75s, fadein 0.25s 3.75s;
  animation: hide 3.75s, fadein 0.25s 3.75s;
}
tbody > *:nth-child(30) {
  -webkit-animation: hide 3.875s, fadein 0.25s 3.875s;
  animation: hide 3.875s, fadein 0.25s 3.875s;
}
tbody > *:nth-child(31) {
  -webkit-animation: hide 4s, fadein 0.25s 4s;
  animation: hide 4s, fadein 0.25s 4s;
}
tbody > *:nth-child(32) {
  -webkit-animation: hide 4.125s, fadein 0.25s 4.125s;
  animation: hide 4.125s, fadein 0.25s 4.125s;
}
tbody > *:nth-child(33) {
  -webkit-animation: hide 4.25s, fadein 0.25s 4.25s;
  animation: hide 4.25s, fadein 0.25s 4.25s;
}
tbody > *:nth-child(34) {
  -webkit-animation: hide 4.375s, fadein 0.25s 4.375s;
  animation: hide 4.375s, fadein 0.25s 4.375s;
}
tbody > *:nth-child(35) {
  -webkit-animation: hide 4.5s, fadein 0.25s 4.5s;
  animation: hide 4.5s, fadein 0.25s 4.5s;
}
tbody > *:nth-child(36) {
  -webkit-animation: hide 4.625s, fadein 0.25s 4.625s;
  animation: hide 4.625s, fadein 0.25s 4.625s;
}
tbody > *:nth-child(37) {
  -webkit-animation: hide 4.75s, fadein 0.25s 4.75s;
  animation: hide 4.75s, fadein 0.25s 4.75s;
}
tbody > *:nth-child(38) {
  -webkit-animation: hide 4.875s, fadein 0.25s 4.875s;
  animation: hide 4.875s, fadein 0.25s 4.875s;
}
tbody > *:nth-child(39) {
  -webkit-animation: hide 5s, fadein 0.25s 5s;
  animation: hide 5s, fadein 0.25s 5s;
}
tbody > *:nth-child(40) {
  -webkit-animation: hide 5.125s, fadein 0.25s 5.125s;
  animation: hide 5.125s, fadein 0.25s 5.125s;
}
tbody > *:nth-child(41) {
  -webkit-animation: hide 5.25s, fadein 0.25s 5.25s;
  animation: hide 5.25s, fadein 0.25s 5.25s;
}
tbody > *:nth-child(42) {
  -webkit-animation: hide 5.375s, fadein 0.25s 5.375s;
  animation: hide 5.375s, fadein 0.25s 5.375s;
}
tbody > *:nth-child(43) {
  -webkit-animation: hide 5.5s, fadein 0.25s 5.5s;
  animation: hide 5.5s, fadein 0.25s 5.5s;
}
tbody > *:nth-child(44) {
  -webkit-animation: hide 5.625s, fadein 0.25s 5.625s;
  animation: hide 5.625s, fadein 0.25s 5.625s;
}
tbody > *:nth-child(45) {
  -webkit-animation: hide 5.75s, fadein 0.25s 5.75s;
  animation: hide 5.75s, fadein 0.25s 5.75s;
}
tbody > *:nth-child(46) {
  -webkit-animation: hide 5.875s, fadein 0.25s 5.875s;
  animation: hide 5.875s, fadein 0.25s 5.875s;
}
tbody > *:nth-child(47) {
  -webkit-animation: hide 6s, fadein 0.25s 6s;
  animation: hide 6s, fadein 0.25s 6s;
}
tbody > *:nth-child(48) {
  -webkit-animation: hide 6.125s, fadein 0.25s 6.125s;
  animation: hide 6.125s, fadein 0.25s 6.125s;
}
tbody > *:nth-child(49) {
  -webkit-animation: hide 6.25s, fadein 0.25s 6.25s;
  animation: hide 6.25s, fadein 0.25s 6.25s;
}
tbody > *:nth-child(50) {
  -webkit-animation: hide 6.375s, fadein 0.25s 6.375s;
  animation: hide 6.375s, fadein 0.25s 6.375s;
}
tbody > *:nth-child(51) {
  -webkit-animation: hide 6.5s, fadein 0.25s 6.5s;
  animation: hide 6.5s, fadein 0.25s 6.5s;
}
tbody > *:nth-child(52) {
  -webkit-animation: hide 6.625s, fadein 0.25s 6.625s;
  animation: hide 6.625s, fadein 0.25s 6.625s;
}
tbody > *:nth-child(53) {
  -webkit-animation: hide 6.75s, fadein 0.25s 6.75s;
  animation: hide 6.75s, fadein 0.25s 6.75s;
}
tbody > *:nth-child(54) {
  -webkit-animation: hide 6.875s, fadein 0.25s 6.875s;
  animation: hide 6.875s, fadein 0.25s 6.875s;
}
tbody > *:nth-child(55) {
  -webkit-animation: hide 7s, fadein 0.25s 7s;
  animation: hide 7s, fadein 0.25s 7s;
}
tbody > *:nth-child(56) {
  -webkit-animation: hide 7.125s, fadein 0.25s 7.125s;
  animation: hide 7.125s, fadein 0.25s 7.125s;
}
tbody > *:nth-child(57) {
  -webkit-animation: hide 7.25s, fadein 0.25s 7.25s;
  animation: hide 7.25s, fadein 0.25s 7.25s;
}
tbody > *:nth-child(58) {
  -webkit-animation: hide 7.375s, fadein 0.25s 7.375s;
  animation: hide 7.375s, fadein 0.25s 7.375s;
}
tbody > *:nth-child(59) {
  -webkit-animation: hide 7.5s, fadein 0.25s 7.5s;
  animation: hide 7.5s, fadein 0.25s 7.5s;
}
tbody > *:nth-child(60) {
  -webkit-animation: hide 7.625s, fadein 0.25s 7.625s;
  animation: hide 7.625s, fadein 0.25s 7.625s;
}
tbody > *:nth-child(61) {
  -webkit-animation: hide 7.75s, fadein 0.25s 7.75s;
  animation: hide 7.75s, fadein 0.25s 7.75s;
}
tbody > *:nth-child(62) {
  -webkit-animation: hide 7.875s, fadein 0.25s 7.875s;
  animation: hide 7.875s, fadein 0.25s 7.875s;
}
tbody > *:nth-child(63) {
  -webkit-animation: hide 8s, fadein 0.25s 8s;
  animation: hide 8s, fadein 0.25s 8s;
}
tbody > *:nth-child(64) {
  -webkit-animation: hide 8.125s, fadein 0.25s 8.125s;
  animation: hide 8.125s, fadein 0.25s 8.125s;
}
tbody > *:nth-child(65) {
  -webkit-animation: hide 8.25s, fadein 0.25s 8.25s;
  animation: hide 8.25s, fadein 0.25s 8.25s;
}
tbody > *:nth-child(66) {
  -webkit-animation: hide 8.375s, fadein 0.25s 8.375s;
  animation: hide 8.375s, fadein 0.25s 8.375s;
}
tbody > *:nth-child(67) {
  -webkit-animation: hide 8.5s, fadein 0.25s 8.5s;
  animation: hide 8.5s, fadein 0.25s 8.5s;
}
tbody > *:nth-child(68) {
  -webkit-animation: hide 8.625s, fadein 0.25s 8.625s;
  animation: hide 8.625s, fadein 0.25s 8.625s;
}
tbody > *:nth-child(69) {
  -webkit-animation: hide 8.75s, fadein 0.25s 8.75s;
  animation: hide 8.75s, fadein 0.25s 8.75s;
}
tbody > *:nth-child(70) {
  -webkit-animation: hide 8.875s, fadein 0.25s 8.875s;
  animation: hide 8.875s, fadein 0.25s 8.875s;
}
tbody > *:nth-child(71) {
  -webkit-animation: hide 9s, fadein 0.25s 9s;
  animation: hide 9s, fadein 0.25s 9s;
}
tbody > *:nth-child(72) {
  -webkit-animation: hide 9.125s, fadein 0.25s 9.125s;
  animation: hide 9.125s, fadein 0.25s 9.125s;
}
tbody > *:nth-child(73) {
  -webkit-animation: hide 9.25s, fadein 0.25s 9.25s;
  animation: hide 9.25s, fadein 0.25s 9.25s;
}
tbody > *:nth-child(74) {
  -webkit-animation: hide 9.375s, fadein 0.25s 9.375s;
  animation: hide 9.375s, fadein 0.25s 9.375s;
}
tbody > *:nth-child(75) {
  -webkit-animation: hide 9.5s, fadein 0.25s 9.5s;
  animation: hide 9.5s, fadein 0.25s 9.5s;
}
tbody > *:nth-child(76) {
  -webkit-animation: hide 9.625s, fadein 0.25s 9.625s;
  animation: hide 9.625s, fadein 0.25s 9.625s;
}
tbody > *:nth-child(77) {
  -webkit-animation: hide 9.75s, fadein 0.25s 9.75s;
  animation: hide 9.75s, fadein 0.25s 9.75s;
}
tbody > *:nth-child(78) {
  -webkit-animation: hide 9.875s, fadein 0.25s 9.875s;
  animation: hide 9.875s, fadein 0.25s 9.875s;
}
tbody > *:nth-child(79) {
  -webkit-animation: hide 10s, fadein 0.25s 10s;
  animation: hide 10s, fadein 0.25s 10s;
}
tbody > *:nth-child(80) {
  -webkit-animation: hide 10.125s, fadein 0.25s 10.125s;
  animation: hide 10.125s, fadein 0.25s 10.125s;
}
tbody > *:nth-child(81) {
  -webkit-animation: hide 10.25s, fadein 0.25s 10.25s;
  animation: hide 10.25s, fadein 0.25s 10.25s;
}
tbody > *:nth-child(82) {
  -webkit-animation: hide 10.375s, fadein 0.25s 10.375s;
  animation: hide 10.375s, fadein 0.25s 10.375s;
}
tbody > *:nth-child(83) {
  -webkit-animation: hide 10.5s, fadein 0.25s 10.5s;
  animation: hide 10.5s, fadein 0.25s 10.5s;
}
tbody > *:nth-child(84) {
  -webkit-animation: hide 10.625s, fadein 0.25s 10.625s;
  animation: hide 10.625s, fadein 0.25s 10.625s;
}
tbody > *:nth-child(85) {
  -webkit-animation: hide 10.75s, fadein 0.25s 10.75s;
  animation: hide 10.75s, fadein 0.25s 10.75s;
}
tbody > *:nth-child(86) {
  -webkit-animation: hide 10.875s, fadein 0.25s 10.875s;
  animation: hide 10.875s, fadein 0.25s 10.875s;
}
tbody > *:nth-child(87) {
  -webkit-animation: hide 11s, fadein 0.25s 11s;
  animation: hide 11s, fadein 0.25s 11s;
}
tbody > *:nth-child(88) {
  -webkit-animation: hide 11.125s, fadein 0.25s 11.125s;
  animation: hide 11.125s, fadein 0.25s 11.125s;
}
tbody > *:nth-child(89) {
  -webkit-animation: hide 11.25s, fadein 0.25s 11.25s;
  animation: hide 11.25s, fadein 0.25s 11.25s;
}
tbody > *:nth-child(90) {
  -webkit-animation: hide 11.375s, fadein 0.25s 11.375s;
  animation: hide 11.375s, fadein 0.25s 11.375s;
}
tbody > *:nth-child(91) {
  -webkit-animation: hide 11.5s, fadein 0.25s 11.5s;
  animation: hide 11.5s, fadein 0.25s 11.5s;
}
tbody > *:nth-child(92) {
  -webkit-animation: hide 11.625s, fadein 0.25s 11.625s;
  animation: hide 11.625s, fadein 0.25s 11.625s;
}
tbody > *:nth-child(93) {
  -webkit-animation: hide 11.75s, fadein 0.25s 11.75s;
  animation: hide 11.75s, fadein 0.25s 11.75s;
}
tbody > *:nth-child(94) {
  -webkit-animation: hide 11.875s, fadein 0.25s 11.875s;
  animation: hide 11.875s, fadein 0.25s 11.875s;
}
tbody > *:nth-child(95) {
  -webkit-animation: hide 12s, fadein 0.25s 12s;
  animation: hide 12s, fadein 0.25s 12s;
}
tbody > *:nth-child(96) {
  -webkit-animation: hide 12.125s, fadein 0.25s 12.125s;
  animation: hide 12.125s, fadein 0.25s 12.125s;
}
tbody > *:nth-child(97) {
  -webkit-animation: hide 12.25s, fadein 0.25s 12.25s;
  animation: hide 12.25s, fadein 0.25s 12.25s;
}
tbody > *:nth-child(98) {
  -webkit-animation: hide 12.375s, fadein 0.25s 12.375s;
  animation: hide 12.375s, fadein 0.25s 12.375s;
}
tbody > *:nth-child(99) {
  -webkit-animation: hide 12.5s, fadein 0.25s 12.5s;
  animation: hide 12.5s, fadein 0.25s 12.5s;
}
tbody > *:nth-child(100) {
  -webkit-animation: hide 12.625s, fadein 0.25s 12.625s;
  animation: hide 12.625s, fadein 0.25s 12.625s;
}
td:first-child {
  min-width: 180px;
}
td a {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0.75em 0.5em;
}
td:hover {
  background-color: #ffde00;
}
tr {
  border-bottom: 1px solid #e9e9e9;
}
tr:last-child {
  border-bottom: none;
}
.sortable_header {
  vertical-align: middle;
}
.sorttable_sorted,
.sorttable_sorted_reverse {
  background-color: #e9e9e9;
}
#sorttable_sortrevind,
#sorttable_sortfwdind {
  padding-left: 0.25em;
  font-size: 0.5em;
  vertical-align: middle;
  text-align: right;
}
.text {
  font-size: 20px;
  line-height: 1.45;
}
.text ul,
.text ol {
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 1.3em;
}
.text pre {
  font-size: 80%;
  padding: 1.5em;
  background-color: #e9e9e9;
  border-radius: 0.275em;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
.text p {
  font-family: 'Skolar PE Test', 'Source Serif Pro', serif;
}
.text .section-header {
  border-bottom: 2px solid #ddd;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-bottom: 0.25em;
  font-weight: 600;
}
.text .section-header:before {
  counter-increment: section;
  content: counter(section, decimal) '. ';
}
.main {
  counter-reset: section;
  width: 100%;
}
.headline {
  font-family: 'Skolar PE Test', 'Source Serif Pro', serif;
  font-weight: 400;
}
hr {
  margin: 3em 0;
  height: 2px;
  background: #ddd;
}
.button {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em;
  text-align: center;
  font-weight: 600;
  border: 2px solid #ddd;
}
.button:hover {
  border: 2px solid #000;
  color: #000;
}
.button--disabled {
  color: #ddd;
}
.header {
  margin-bottom: 2em;
}
.excerpt {
  margin-bottom: 1.3em;
}
.excerpt p {
  max-width: 600px;
}
.center {
  text-align: center;
}
.notes {
  margin-bottom: 1.3em;
}
.notes p {
  max-width: 600px;
}
