html {
  background-color: #333;
}

body {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}

.mainbar {
  background-color: #efefef;
}

.label abbr {
	color: blue;
}

.input:focus, .input-is-focused {
	border-color: blue;
}

.field-with-headline .hgroup::before {
	color: blue;
}

.tag-input {
	text-transform: none;
}