.collection {
  position: relative;
  width: 100%;
  transition: all .2s ease-in-out;
  text-align: center;
  background-color: $color--blue;
  border-radius: 0.125rem;
  
  &:before {
    content: "";
    display: block;
    padding-top: 100%;  /* initial ratio of 1:1*/
  }
  
  &:hover {
    transform: translateY(-0.5em);
    transition: all .2s ease-in-out;

  }
  
  &__name {
    background-image: url("../icons/collection-black.svg");
    background-position: 0.5em center;
    background-size: 1em;
    background-repeat: no-repeat;
    padding-left: 2em;
    margin-bottom: 0.75em;
  }
  
  &__wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1.75em;
    text-align: center;
    color: white;
  }
  
  &__title {
    font-size: 160%;
    line-height: 1.1;
    font-weight: $font-weight--black;
    margin-bottom: 0.33em;
    background-image: url("../icons/collection-white.svg");
    background-position: center 1em;
    background-size: 3em;
    background-repeat: no-repeat;
    padding-top: 5em;
    padding-bottom: 1em;
    vertical-align: center;
    margin-top: 50%;
    transform: translateY(-50%);
    transition: all .2s ease-in-out;
  }
  
  &__author {
    font-size: 110%;
  }
  
  &__link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

}