.list-view {

  & table {
    width: 100%;
  }

  & th {
    background-color: #fff;
    border-bottom: 2px solid black;
    padding: 0.5em;
    font-weight: $font-weight--black;
    cursor: pointer;
    user-select: none;
    
    &:hover {
      background-color: $color--black;
      color: $color--white;
    }
  }

  & th:last-child {
    border-right: none;
  }

  & td {

    overflow: hidden;
    padding: 0.75em 0.5em;
    
    &:first-child {
      min-width: 180px;
    }
    
    & a {
      display: block;
      height:100%;
      width:100%;
      line-height: 1.3;
    }
    
    &:hover {
      background-color: $color--blue;
      color: $color--white;
      
      a {
        color: $color--white;
      }
    }

  }

  & tr {

    
    &:hover {
      background-color: lighten($color--light-grey, 5);   
    }
    
    border-bottom: 1px solid $color--light-grey;
    
    &:last-child {
      border-bottom: none;
    }

  }

  & .sortable_header {
    vertical-align: middle;
  }

  & .sorttable_sorted, & .sorttable_sorted_reverse {
    background-color: $color--light-grey;
  }

  & #sorttable_sortrevind, & #sorttable_sortfwdind {
    padding-left: 0.25em;
    font-size: 0.5em;
    vertical-align: middle;
    text-align: right;
  }

}