.references {

  .reference {
    display: inline-block;
    width: 32%;
    margin-right: 2%;
    margin-top: 1em
    
    &:nth-child(-n+3) {
      margin-top: 0;
    }
    
    &:nth-child(3n+3) {
      margin-right: 0;
    }
    
  }

}